<section class="w-full items-center mt-100 p-4" style="margin-top: 3%">
    <h2 class="custom-heading-2">I'm a certified #lifelonglearner</h2>

    <div class="w-full flex flex-row mt-8">
        <a href="https://www.credly.com/badges/c3ed86e8-c3ab-400b-8952-3ce3d17bd37d"
            class="w-full flex flex-col items-center text-center pt-4">
            <div class="w-24 h-24">
                <img src="certs/java_associate.png" alt="OCP" class="w-full h-auto">
            </div>
            <span class="text-xs mt-4">Oracle Certified Associate - Java SE 7 Programmer</span>
        </a>

        <a href="https://www.credly.com/badges/af756aca-7678-4837-a593-9cb1acce6bc9" target="_blank"
            class="w-full flex flex-col items-center text-center pt-4">
            <div class="w-24 h-24">
                <img src="certs/cloud_practitioner.png" alt="Cloud Practitioner" class="w-full h-auto">
            </div>
            <span class="text-xs mt-4">AWS Cloud Practitioner</span>
        </a>

        <a href="https://www.credly.com/badges/e5fda8a2-a7cb-4741-8c18-1fa74371fe62"
            class="w-full flex flex-col items-center text-center pt-4" target="_blank">
            <div class="w-24 h-24">
                <img src="certs/cloud_developer_associate.png" alt="Cloud Developer Associate" class="w-full h-auto">
            </div>
            <span class="text-xs mt-4">AWS Cloud Developer Associate</span>
        </a>
    </div>
</section>