<section class="hero-height w-full mb-10 p-4 flex flex-col sm:flex-row animate-border-cycle rounded-lg">
    <div class="flex-1 flex items-center justify-center custom-h-96 w-full overflow-hidden">
        <img src="/george.jpeg" alt="George Nunes" class="h-full rounded w-auto object-contain">
    </div>
    <div class="flex-2 flex flex-col items-center justify-center text-center md:text-left">
        <h1 class="font-extrabold text-gray-900 tracking-tight mb-6 mt-12" style="font-size: 2rem">
            Hey, I'm George Nunes! 👋
        </h1>
        <p class="text-lg md:text-xl text-gray-600 mb-10 max-w-2xl mx-auto lg:mx-0">
            I'm an engineer that makes sure that everything is working fine in the backstage after you open a page
            or click on a button.
        </p>
        <p>#backend #java #go #aws #postgresql</p>
        <div class="w-full flex justify-center">
            <a href="https://github.com/georgebnunes" target="_blank"
                class="flex-1 p-4 hover:text-primary-500 dark:hover:text-primary-400">
                {{ partial "icon.html" "github" }}
            </a>
            <a href="https://linkedin.com/in/georgebnunes" target="_blank"
                class="flex-1 p-4 hover:text-primary-500 dark:hover:text-primary-400">
                {{ partial "icon.html" "linkedin" }}
            </a>
            <a href="mailto:georgebnunes@gmail.com"
                class="flex-1 p-4 hover:text-primary-500 dark:hover:text-primary-400">
                {{ partial "icon.html" "email" }}
            </a>
        </div>
    </div>
</section>