<section class="custom-h-100 w-full mb-10 flex flex-col sm:flex-row">
    <div class="flex-1 flex items-center justify-center custom-h-96 w-full overflow-hidden m-3">
        <img src="/george.jpeg" alt="George Nunes" class="h-full rounded w-auto object-contain">
    </div>
    <div class="bg-blue-500 flex-2 flex flex-col items-center justify-center text-center md:text-left p-5">
        <h1 class="font-extrabold text-gray-900 tracking-tight mb-6 mt-12" style="font-size: 2rem">
            Hi there, I'm George! 👋
        </h1>
        <p class="text-lg md:text-xl text-gray-600 mb-10 max-w-2xl mx-auto lg:mx-0">
            I'm an engineer that basically makes sure that everything works in the backstage after you open a page
            or click a button.
        </p>
    </div>
</section>