<section
    class="flex flex-col sm:flex-row items-center mt-100 p-4 bg-neutral-100 dark:bg-neutral-800 text-neutral-900 dark:text-neutral-100 rounded-lg">
    <div class="text-right sm:text-center md:text-left">
        <h2 class="mb-8 leading-relaxed custom-heading-2">
            I create, maintain and ship backend APIs using these amazing tools
        </h2>
    </div>
    <div class="flex flex-wrap justify-center">
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/java.svg" alt="Java" class="w-full h-auto">
            </div>
            <span class="text-xs">Java</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/spring.svg" alt="Spring" class="w-full h-auto">
            </div>
            <span class="text-xs">Spring/Spring Boot</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/go.svg" alt="Go" class="w-full h-auto">
            </div>
            <span class="text-xs">Go</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/postgres.svg" alt="PostgreSQL" class="w-full h-auto">
            </div>
            <span class="text-xs">PostgreSQL</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/mongodb.svg" alt="MongoDB" class="w-full h-auto">
            </div>
            <span class="text-xs">MongoDB</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/redis.svg" alt="Redis" class="w-full h-auto">
            </div>
            <span class="text-xs">Redis</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/kubernetes.svg" alt="Kubernetes" class="w-full h-auto">
            </div>
            <span class="text-xs">Kubernetes</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/argocd.svg" alt="ArgoCD" class="w-full h-auto">
            </div>
            <span class="text-xs">ArgoCD</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/github.svg" alt="Github" class="w-full h-auto icon-blue">
            </div>
            <span class="text-xs">Github</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/ghaction.svg" alt="GHAction" class="w-full h-auto">
            </div>
            <span class="text-xs text-gray-900">GHAction</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12">
                <img src="/icons/terraform.svg" alt="Terraform" class="w-full h-auto">
            </div>
            <span class="text-xs">Terraform</span>
        </div>
        <div class="w-24 rounded-2xl flex flex-col items-center text-center pt-4">
            <div class="w-12 h-12 transition-colors text-neutral-900 dark:text-neutral-100">
                <img src="/icons/aws.svg" alt="AWS" class="w-full h-auto icon-blue">
            </div>
            <span class="text-xs">Cloud</span>
        </div>
    </div>
</section>