.custom-h-64 {
    height: 16rem;
    /* This is the equivalent of h-64 */
}

.custom-h-72 {
    height: 18rem;
    /* This is the equivalent of h-72 */
}

.custom-h-96 {
    height: 24rem;
    /* This is the equivalent of h-96 */
}

.custom-h-100 {
    height: 25rem;
    /* This is the equivalent of h-100 */
}

.custom-h-108 {
    height: 27rem;
    /* This is the equivalent of h-108 */
}

.custom-h-112 {
    height: 28rem;
    /* This is the equivalent of h-112 */
}

.custom-h-128 {
    height: 32rem;
    /* This is the equivalent of h-128 */
}

.custom-h-144 {
    height: 36rem;
    /* This is the equivalent of h-144 */
}

.custom-h-160 {
    height: 40rem;
    /* This is the equivalent of h-160 */
}

.custom-h-168 {
    height: 42rem;
    /* This is the equivalent of h-168 */
}

.custom-h-176 {
    height: 44rem;
    /* This is the equivalent of h-176 */
}

.custom-h-184 {
    height: 46rem;
    /* This is the equivalent of h-184 */
}

.custom-h-192 {
    height: 48rem;
    /* This is the equivalent of h-192 */
}

.custom-h-224 {
    height: 56rem;
    /* This is the equivalent of h-224 */
}

.custom-h-256 {
    height: 64rem;
    /* This is the equivalent of h-256 */
}

.icon-blue {
    /* Generated filter for a specific blue color */
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(200deg) brightness(90%) contrast(90%);
}

.dark:icon-blue {
    /* Generated filter for a specific blue color */
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(200deg) brightness(90%) contrast(90%);
}

.gray {
    background-color: #dfe6e9;
}

.gray:is(.dark *) {
    background-color: #2d3436;
}

@keyframes border-cycle {

    0%,
    100% {
        border-color: #3b82f6;
    }

    /* Blue */
    50% {
        border-color: #ec4899;
    }

    /* Pink */
}

.animate-border-cycle {
    border-width: 2px;
    border-style: solid;
    animation: border-cycle 3s infinite linear;
}

.custom-heading-2 {
    font-size: 1.5rem;
    line-height: 1.3;
    color: theme('colors.gray.900');
    /* Default color, can be overridden by theme */
}

.hero-height {
    height: 27rem;
}

@media (max-width: 768px) {
    .hero-height {
        height: 42rem;
    }
}