.custom-h-64 {
    height: 16rem;
    /* This is the equivalent of h-64 */
}

.custom-h-72 {
    height: 18rem;
    /* This is the equivalent of h-72 */
}

.custom-h-96 {
    height: 24rem;
    /* This is the equivalent of h-96 */
}

.custom-h-100 {
    height: 25rem;
    /* This is the equivalent of h-100 */
}

.custom-h-108 {
    height: 27rem;
    /* This is the equivalent of h-108 */
}

.icon-blue {
    /* Generated filter for a specific blue color */
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(200deg) brightness(90%) contrast(90%);
}

.dark:icon-blue {
    /* Generated filter for a specific blue color */
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(200deg) brightness(90%) contrast(90%);
}

.gray{
    background-color: #dfe6e9;
}

.gray:is(.dark *) {
    background-color: #2d3436;
}

@keyframes border-cycle {

    0%,
    100% {
        border-color: #3b82f6;
    }

    /* Blue */
    50% {
        border-color: #ec4899;
    }

    /* Pink */
}

.animate-border-cycle {
    border-width: 2px;
    border-style: solid;
    animation: border-cycle 3s infinite linear;
}

.custom-heading-2 {
    font-size: 1.5rem;
    line-height: 1.3;
    color: theme('colors.gray.900');
    /* Default color, can be overridden by theme */
}